.recommendedConatiner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
  gap: 3rem;
  padding: 1rem 2rem;
}
.more-holiday.active {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
  gap: 3rem;
  padding: 1rem 2rem;
}
.more-holiday {
  display: none;
}
.row-grid img {
  width: 100%;
  border-radius: 5px;
}
.row-grid {
  border: 1px solid #d5d1d1;
  background-color: #ffffff;
  border-radius: 5px;
}
.row-grid:hover {
  transition: 300ms ease-in-out;
  transform: scale(1.1);
  z-index: 1;
  cursor: pointer;
}
.row-under {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.holiday_head h2 {
  font-size: 2.5rem;
}
article .holiday_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.holiday_head span {
  color: #114f8b;
  text-decoration: underline;
  display: flex;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .holiday_head h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .holiday_head h2 {
    font-size: 1.2rem;
  }
}
