nav {
  background-color: #fff;
  position: fixed;
  width: 100vw;
  z-index: 5;
}

.NAV-Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.NavRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.nav_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.nav_link .link {
  text-decoration: none;
  color: #000;
}
.nav_link .link:hover {
  color: #1262af;
}
.booked-nav {
  display: none;
}
/* ==================================== MAIN  */
main {
  text-align: center;
  background-color: #114f8b;
  padding-bottom: 10rem;
  padding-top: 5rem;
}
.main-container h2 {
  font-family: "Baloo Bhai 2", cursive;
  font-size: 61px;
  font-style: normal;
  font-weight: 600;
  color: #fff;
  margin-bottom: 3rem;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-form-colunm {
  background: #fff;
}
.main-container p {
  color: #fff;
}
.main-flex {
  margin-bottom: 2rem;
}
.main-form {
  color: #555;
  padding: 1rem;
  border-radius: 10px;
}
.grid-input input {
  outline: none;
  z-index: -1;
  background: transparent;
  padding: 10px 5px;
  font-size: 1rem;
  border: 1px solid #d4d0d0;
  border-radius: 5px;
}
.grid-input {
  position: relative;
  width: 100%;
}
.grid-input label {
  font-size: 1rem;
  position: absolute;
  transition: 0.1s ease;
  margin: 0 4px;
}
.grid-input input + label,
.grid-input input + label {
  top: -17px;
  left: 5px;
  z-index: 1;
  transition: 0.1s ease;
  height: 30px;
  line-height: 30px;
  background: #fff;
  margin: 0 25px;
}
.main-grid {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  background: #fff;
}
.menu-icon {
  display: none;
}
.hero-btn {
  border: none;
  background: #f99a0e;
  color: #fff;
  padding: 2px 1rem;
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
}
@media screen and (max-width: 780px) {
  .main-grid {
    flex-direction: column;
  }
  .grid-input label {
    display: none;
  }
  .main-grid button {
    padding: 1rem 0;
    width: auto;
    text-align: center;
  }
  .grid-input input {
    width: 80%;
  }
  .main-form-colunm {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .NavRight.inactive .nav_link,
  .NavRight.inactive .booked-nav {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .NavRight.active {
    transition: 300ms ease-out;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 4.5rem;
    height: 50vh;
    width: 40vw;
    margin-right: 2rem;
    border-radius: 10px;
    padding: 1rem 0;
    box-shadow: 0px 2px 14px #000111;
  }
  .nav_link {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 3rem;
  }
  .booked-nav {
    display: block;
    background: #1262af;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
  }
  .booked-nav:hover {
    opacity: 0.9;
    cursor: pointer;
  }
  .Nav-Right-right .note-icon,
  .Nav-Right-right img {
    display: none;
  }
}
