body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.flex-line {
  display: flex;
  align-items: center;
}
.f-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.f-raw {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
